---
import { Layout as PlaygroundLayout } from "@brattonross/astro-playground/components";
import "~/main.css";
---

<PlaygroundLayout>
	<Fragment slot="head">
		<title>Playground</title>
	</Fragment>
	<slot />
</PlaygroundLayout>
